/* 可以共用 */
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
:root {
    --bg: #fdfdfd;
    --highlight1: #be294e;
    --highlight2: #800020;
    --color: #1a1e24;
    --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}
.clear-both{
    clear: both;
}
html{
    height: 100%;
    font-size: 16px;
}
body{
    background-color: #0c0c0c;
    background-image: url("../images/buried.png");
    font-family: 'Noto Serif TC', serif;
    color: #FFF;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: inherit;
}
/* 共用結束 */
/* navbar */
.menu-outer{ 
    width:300px;
    height:600px;
    background-color: #000;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
    }
    .menu-wrap{
        position: fixed;
        top:0;
        left: 10%;
        z-index: 100;
        display: none;
        /* filter: drop-shadow(2px 0px 5px #333); */
    }
    .menu{
    width:280px;
    height:585px;
    background-color: #800020;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 76%, 50% 100%, 0 76%, 0 0);
    position: absolute;
    left:10px
    }
    .menu-inner{
    width:278px;
    height:583px;
    background-color: #000;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 76.2%, 50% 100%, 0 76.2%, 0 0);
    position: absolute;
    left:1px
    }
/* navbar end */
/* index banner */
.web-logo{
padding-top: 25px;
padding-left: 25px;
height: 62px;
}
header{
    /* width: auto; */
    height:100vh;
    /* background-attachment: fixed; */
    background-size: cover;
    background-image: url("../images/3.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

}
#wine img{
    width: auto;
    height: 100vh;
    left: 50%;
    margin-left: -155px;
    position: absolute;
}
/* index banner END */
/* menu */
.menulogo{
    width: 150px;
    margin:40px auto;
}
.icontool{
    width: 220px;
    height: 60px;
    padding: 25px;
    text-align: center;
    float: right;
}
.bar{
    position: fixed;
    top:0px;
    width: 100vw;
    height: 85px;

}
.user,.cart{
    width: 35px;
    height: 27px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}
.menubox{
    display: inline-block;
    width: 35px;
    height: 27px;
    /* position: fixed; */
    /* top: 25px; */
    cursor: pointer;
}
.menu1, .menu2, .menu3 {
    width: 35px;
    height: 5px;
    background-color:#FFF;
    float: right;
    transition: 0.4s;
  }
  .menu1{
      margin-top:2px ;
  }
  .menu2{
      margin-top: 6px;
    margin-bottom: 6px;
  }
  .menulist{
    text-align: center;
    width: 150px;
    margin: auto;
    font-size: 1.3rem;
    line-height: 3.5rem;
}
/* Rotate first bar */
.change .menu1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
.change .menu2 {
opacity: 0;
}

/* Rotate last bar */
.change .menu3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}
/* menu END */
/* NEWS */
/* .ns-titleimg{
    margin:50px auto 0px auto;
    display: block;

} */
.ns-block{
    margin-top: 60px;
}
.ns-title{
    width: 500px;
    margin:30px auto;
    /* text-align: justify; */
}
/* .ns-title span{
    font-size: 2.25rem;
} */
/* .ns-title::after{
    display:inline-block;
    content: '';
    padding-left: 99%;
} */
.ns-content{
    width: 80%;
    margin:80px auto;
    position: relative;
}
.news-item{
    width: 46%;
    height: auto;
    float: left;
    /* padding: 1rem; */
    margin: 1rem;
}
#newsimg{
    position: relative;
}
#newsimg::after{
    content: "";
    background-color: #800020;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:5px;
    opacity: 0.3;
    display: none;
    z-index: 0;
}
.newstext{
    width: 48%;
    padding: 2rem;
    float: left;
    position: absolute;
    font-size: 1.2rem;
    display: none;
    pointer-events: none;
}
#newsimg:hover::after,#newsimg:hover+.newstext{
    display: block;
}
.newstitle{
    font-size: 1.8rem;
}
.list {
    list-style: none;
    /* width: 600px;
    max-width: 90%; */
}
.item {
    display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.375;
    position: relative;
}
.item:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}
.item:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}
.headline {
    padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}
.learnmore{
    font-size: 1.1rem;
    margin-top: 60px;
}
.newsbtn{
    width:200px ;
    text-align: center;
    border: 1px solid #FFF;
    margin: auto;
    padding: 3px;
    line-height: 50px;
}
.newsbtn a{
    color: #FFF;
    text-decoration: none;
}
#newribbon{
    position:absolute;
    top:-30px;
    left:50%;
    margin-left:-60px;
    z-index:2;
    opacity:1;
}
/* NEWS END */
/*product*/
.pd-content{
    width: 80%;
    margin: auto;
    height: auto;
}
/* .pd-item{
    width: 46%;
    height: auto;
    float: left;
    margin: 1rem;
} */
.productinfo h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.productinfo p{
    line-height: 2.2rem;
}
.productinfo button{
    background-color: transparent;
    cursor: pointer;
    padding: 0.6rem;
    border: 1px solid #FFF;
    font-size: 1rem;
    color: inherit;
    font: inherit;
    margin-top: 3rem;
}
.multiple-items{
    width: 100%;

    margin: auto;
    
}
.multiple-items img{
    height: 60vh; 
    width: auto;
    float: left;
    margin-right: 2rem;
    
}
/* .slick-slide img {
    max-width: 100%; 
    transition: transform 0.5s; 
   }
  
  .slick-slide.slick-center img{
    transform: scale(1.2);
  } */
/* .slider-for img{
    float: left;
    width:100px;
    
} */
/* #main-product{
    width: 400px;
    margin: auto;
} */
/* product END */
/* footer */
.subscription{
    width: 100%;
    height: 8vh;

    margin-top: 2rem;

}
.ft-item{
    float: left;
    width: 20%;
}
.ft-center{
    width: 50%;
    margin: auto;
}
.design{
    width: 100%;
    height: 2rem;
    background-color: var(--highlight2);
    margin-top: 2rem;
}
.copyright{
    width: 46%;
    font-size: 0.5rem;
    line-height: 2rem;
    float: left;
}
.design-center{
    width: 80%;
    margin: auto;
}
.designby{
    text-align: right;
    font-size: 0.5rem;
    line-height: 2rem;
}