/* 可以共用 */

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --main-color: #FFF;
    --hover-color: #800020;
    --icon: "\f105";
    --border-color: #ddd;
    --highlight2:#800020;
    /* --sidebar-width: 160px; */
}
.clear-both{
    clear: both;
}
html{
    height: 100%;
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;
    letter-spacing: 0.09rem;
}
body{
    background-color: #0c0c0c;
    background-image: url("../images/buried.png");
    font-family: 'Noto Serif TC', serif;
    color: #FFF;
    /* overflow-y: scroll; 
    overflow-x: hidden;*/
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
  text-decoration: none;
}
a:active{
  color: #800020;
}
button{
    background-color: transparent;
    cursor: pointer;
    padding: 0.6rem;
    border: 1px solid #FFF;
    font-size: 1rem;
    color:inherit;
    font: inherit;
    margin-top: 1.5rem;
}
header{
  width: 100vw;
  height: 20rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  margin-bottom: 4rem;

}
.pagetitle{

  display: table-cell;
  vertical-align: middle;
}
header h2{
  font-size: 2rem;
}
.position{
  margin-top: 24rem;
}
#title-center{
  display: table;
  text-align: center;
  width: 100vw;

}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
input{
  outline-style: none ;
border-top: 0px;
border-left: 0px;
border-right: 0px;
    border-bottom: 1px solid #FFF;
    padding: 5px 0px;
    background-color: transparent;
    color: #FFF;
}
.draw-border {
  box-shadow: inset 0 0 0 1px #FFF;
  color: #FFF;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.draw-border::after {
  border-top-width: 1px;
  border-right-width: 1px;
}
.draw-border:hover {
  color: #800020;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #800020;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 1px soild #800020;
}
/* select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #000;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  width: 50%;
  position: relative;
  display: inline-flex;
  line-height: 2rem;
  background: #000;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top:0.5rem
}
select {
  flex: 1;
  /* padding: 0.1rem; */
  color: #fff;
  cursor: pointer;
  margin-left: 1rem;
  
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #800020;
}
/* select END */


/* 可以共用 END */

/* toolbar */
.toolbar{
    /* position: fixed; */
    width: 100%;
    height: 2rem;
    background-color: hsla(345, 100%, 25%, 0.8);
}
.toolbar-center{
    width: 80%;
    margin: auto;
    display: table;
    height: 85px;
}
.customer{
    text-align: right;
    font-size: 0.5rem;
    line-height: 2rem;
} 
.customer a:hover{
  color: black;
}
 /* toolbar end */
.web-logo{
  display: table-cell;
  vertical-align: middle;
    }
    #logo1{
      display: none;
    }
/* menu */
.menulogo{
    width: 150px;
    margin:40px auto;
}
.icontool{
  /* float: right; */
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.bar{
  padding-left: 1rem;
    width: 100%;
    height: 85px;
    z-index: 20;
}
.user,.cart{
    width: 35px;
    height: 27px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}
.menubox{
    display: inline-block;
    width: 35px;
    height: 27px;
    /* position: fixed; */
    /* top: 25px; */
    cursor: pointer;
}
.menu1, .menu2, .menu3 {
    width: 35px;
    height: 5px;
    background-color:#FFF;
    float: right;
    transition: 0.4s;
  }
  .menubox:hover .menu1{
    background-color: hsl(345, 100%, 25%);
  }
  .menubox:hover .menu2{
    background-color: hsl(345, 100%, 25%);
  }
  .menubox:hover .menu3{
    background-color: hsl(345, 100%, 25%);
  }
  .menu1{
      margin-top:2px ;
  }
  .menu2{
      margin-top: 6px;
    margin-bottom: 6px;
  }
/* Rotate first bar */
.change .menu1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
.change .menu2 {
opacity: 0;
}

/* Rotate last bar */
.change .menu3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}
/* menu END */
/* navbar */
.menu-outer{ 
    width:300px;
    height:600px;
    background-color: #000;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
    }
    .menu-wrap{
        position: fixed;
        top:0;
        left: 10%;
        display: none;
        z-index: 999;
        
        /* filter: drop-shadow(2px 0px 5px #333); */
    }
    .menu{
    width:280px;
    height:585px;
    background-color: #800020;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 76%, 50% 100%, 0 76%, 0 0);
    position: absolute;
    left:10px
    }
    .menu-inner{
    width:278px;
    height:583px;
    background-color: #000;
    -webkit-clip-path:polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path:polygon(100% 0, 100% 76.2%, 50% 100%, 0 76.2%, 0 0);
    position: absolute;
    left:1px
    }
    .menulist{
        text-align: center;
        width: 150px;
        margin: auto;
        font-size: 1.3rem;
        line-height: 3.5rem;
    }
/* navbar end */
/* breadcrumb */
a {
  text-decoration: none;
  color: var(--main-color);
  transition: color ease-in-out .3s, background ease-in-out .2s;
}

.header {
  margin: 0 auto;
  overflow: hidden;
  /* border-bottom: 1px solid var(--border-color); */
}

.logo-and-nav-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.site-nav-wrap {
  /* padding-left: 2rem; */
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--main-color);
  overflow: hidden;
  width: fit-content;
  margin: auto;

}

/* .logo-wrap {
  padding: 0 20px;
  width: var(--sidebar-width);
} */

.nav-breadcrumb {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  /* padding-right: 2rem; */
}

.single-breadcrumb-wrap:before {
  content: '';
  background-image: linear-gradient(-33deg, #ff0d64 0, #9c3483 100%);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform ease-in-out .5s;
  transform: scalex(0);
  transform-origin: left top;
  display: none;
}

.single-breadcrumb-wrap:hover:before {
  transform: scalex(1);
}

.single-breadcrumb-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 auto;
  flex-shrink: 1000;
  display: inline-block;
  padding: 10px 5px 15px 0;
  border-bottom: 1px solid transparent;
  color: var(--main-color);
  position: relative;
  transition: transform ease-in-out .3s;
}
.single-breadcrumb-wrap:hover {
  flex: 1 0 auto;
  opacity: 1;
  color: var(--hover-color);
  transform: translatey(-2px);
  transition: none;
  opacity: 1;
  transition: transform ease-in-out .4s;
}
.single-breadcrumb-wrap:hover a {
  color: var(--hover-color);
}
.single-breadcrumb-wrap:hover .sep i {
  transform: translatex(8px);
  color: var(--hover-color);
  transition: transform ease-in-out .3s;
}
.single-breadcrumb-wrap:hover ~ .single-breadcrumb-wrap {
  transition: transform ease-in-out .4s;
}
.single-breadcrumb-wrap:first-child {
  flex: 0 0 auto;
  flex-shrink: 0.5;
  font-weight: normal;
  color: var(--hover-color);
  opacity: 1;
}
.single-breadcrumb-wrap:first-child:after {
  left: 0;
}
.single-breadcrumb-wrap:first-child .sep {
  display: none;
}
.single-breadcrumb-wrap:last-child {
  flex: 1 0 auto !important;
  font-weight: normal;
}
.single-breadcrumb-wrap:last-child a {
  color: var(--hover-color);
}
.single-breadcrumb-wrap:last-child:hover {
  transform: translateY(0);
  flex: 1 0 auto !important;
}
.single-breadcrumb-wrap:last-child:hover:after {
  display: none;
}

.single-breadcrumb-wrap:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 28px;
  top: 36px;
  width: 100%;
  height: 1px;
  background: var(--hover-color);
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform ease-in-out .15s .10s, opacity ease-in-out .25s;
  opacity: .5;
}

.single-breadcrumb-wrap:hover:after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transition: opacity ease-in-out .1s, transform ease-in-out .2s;
}

.breadcrumb {
  flex: 0 1 auto;
}

.sep {
  padding-left: 10px;
  padding-right: 10px;
}
.sep i.fa:before {
  content: var(--icon);
  transition: transform ease-in-out .2s;
}


/* about */
.title{
    width: 500px;
    margin:30px auto;
}
.about{
    margin: auto;
    line-height: 2rem;
}
.ab-item{
    /* width: 50%; */
    margin: 2rem;
}

.tb{
  display: table;
  height: 100%;
}
.vc img{
  width: 100%;
  height: auto;
}
.vc{
  width: 50%;
display: table-cell;
vertical-align: middle;
height: 100%;
}
/*  */
/* .intro {
position: relative;
	width: 80%;
  height: 60vh;
  margin:auto;
  padding-bottom: 2rem;
}
.left {
	float: left;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
    display: table;
}
.left > div {
	display: table-cell;
    vertical-align: middle;
    line-height: 2rem;
    font-size: 1.1rem;
}
.slider {
	float: right;
	position: relative;
	width: 40%;
  height: 100%;

}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.dot a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  transition: transform .3s;
}
a.current_dot {
	transform: scale(1.4);
} */
/* @media screen and (max-width: 700px) {
	.left {
		width: 100%;
		height: 30%;
	}
	.slider {
		width: 100%;
		height: 70%;
	}
} */
/* newslist */
.ns-title{
    width: 500px;
    margin:30px auto;
    /* text-align: justify; */
}
.news-container{
    width: 80%;
    margin: auto;
    margin-top: 24rem;
}
.filter{
    width: 30%;
    float: left;
}
.filter-right{
  width: 30%;
  float: left;
}
/* .news-content{
    width: 80%;
    float: left;
} */
.news-content .news-img,.news-info{
    width:100%;
    
}
.news-info{
  padding-top: 0.5rem;

}
.one-news:hover{
  background-color: hsl(345, 100%, 25%,0.4);
}
.one-news{
    width:32.1%;
    float: left;
    margin: 0.3rem;
    padding: 1rem;
}
.one-news button:hover{
  background-color: #0c0c0c;
}
.news-content .news-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sidebar{
    font-size: 1.1rem;
    text-align: center;
}

.sidebar li:hover{
  background-color: hsl(345, 100%, 25%,0.4);
}
.sidebar li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.sidebar-right{
    font-size: 1.1rem;
}
.sidebar-right li{
    margin-bottom: 1rem;
    padding: 1rem;
}
.sidebar-right li:hover{
  background-color: hsl(345, 100%, 25%,0.4);
}
.sidebar-right li img{
  width:100%;
  max-height: 30vh;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.filter-title{
  margin-top:0;
  padding: 1rem;
  background-color: hsl(345, 100%, 25%);
}
.newscontent{
  width: 80%;
  margin: auto;
}
/* product_list */
.product_category{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 24rem;
}
.category{
    width:100%;
    height: auto;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    display: table;
    margin: 1rem;

}
.center-y{
    text-align: center;
    display: table-cell;
	vertical-align: middle;

}
.category h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.category h1,.category h2{
line-height: 4rem;
}
.category h2{
    font-size: 1.2rem;
}
.category a{
    height: 100%;
    width: 100%;
    display: block;
    padding: 1rem;
    letter-spacing: 0.5rem;
}
.product_category .text-right button{
  margin-top: 0;
}
.category a:hover{
    background-color: hsla(0, 0%, 5%, 0.5);
    color: var(--hover-color);
  }
/* product_list end */
/* news page */
.news-outer{
width: 70%;
float: left;
}
.news-image img{
    width: 80%;
    object-fit: cover;
    max-height:50vh ;
    display: block;
    margin: auto;
}
/* news page end */
/* productfilter page */
.bar-small{
  width: 18% !important;
  background-color: hsl(0, 0%, 5%,0.4);
  margin-right: 1rem;
}
.list-big{
  width: 80% !important;
}
.productlist{
  width:70%;
  float: left;
  padding: 1rem;
}
.product-outer{
  position: relative;
  width: 32%;
  float: left;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
}
.product-outer h3{
  margin-bottom: 2rem;
}
.product-outer button:hover{
  background-color: #0c0c0c;
  
}
.product-outer button{
  position: absolute;
  bottom:2rem;
}
.product-outer:hover{
  background-color: hsl(345, 100%, 25%,0.3);
}
.product-img{
width: auto;
max-width: 50%;
height: 350px ;
object-fit: cover;
float: left;
}
.product-img img{
  height: 100%;
}
.product-content{
  width: 50%;
  float: left;
  word-wrap: break-word;
}
/* productfilter page end */
/* product page */
.price{
  width: 100%;
  text-align: right;
}
#pr-tb{
  display: table;
}
.product-left{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.product-left img{
  height: 60vh;
  width: auto;
}
.product-right{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.product-right h1{
  margin-bottom: 2rem;
}
.slick-pr{
  margin: auto;
}
.slick-pr img{
  height: 300px;
}
.other-pr{
text-align: center;
background-color: hsl(0, 0%, 0%,0.5);
padding-bottom: 2rem;
}
.other-product{
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
}
.product-intro{
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  line-height: 2rem;
}
.product-intro h2 {
  margin-bottom: 2rem;
}
#info-modal h4{
  color: #777;
}
#info-modal .btn{
background-color: #800020;
}
#login-modal h4{
  color: #777;
}
#login-modal .btn{
  background-color: #800020;
}
#login-modal a{
  color: #777;}
#login-modal a:hover{
  text-decoration: none;
  color: #800020;}
  .menu-dwon{
    width: 100%;
    
    text-align: center;
    display: none;
  }
/* product page end */
/* register */
.product-left .box{
  background-color: #080808;
  padding: 2rem;
  width: 80%;
  margin: auto;
  line-height: 2rem;
}

.product-left .box input{
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
.product-left .box h2{
  margin-bottom: 2rem;
}

/* register end */
/* basket */
.basket{
  text-align: center;
}
.basket table{
  margin-top: 2rem;
  border-collapse:collapse;
}
th{
  font-weight: normal;
}
.gray{
  border-bottom: rgb(110, 110, 110) 1px solid;
}
th{
  border-bottom: #fff 1px solid;
}
.basket table td,th{
  padding: 1rem;
  margin: 1rem;
}
.basket input{
  width: 50px;
}
.text-right{
  text-align: right;
  margin-top: 2rem;
}
/* basket end */
/* check */
strong{
  font-size: 1.1rem;
}
.step4{
  background-color: #080808;
  padding: 2rem;
  width: 90%;
  line-height: 2rem;
  margin: auto;
}
#zipcode{
  width: 30%;
}
/* check end */
/* success */
.centerbox{
  text-align: center;
  width: 50%;
  border: 1px solid #800020;
  margin: auto;
  padding: 2rem;
  line-height: 4rem;
}
.centerbox h2{
  margin-bottom: 2rem;
}
.centerbox a{
  color:#800020
}
.centerbox button{
  line-height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* success end */
/* customer */
.margin-bt h1{
  margin-bottom: 2rem;
}
.margin-bt {
  line-height: 2rem;
}
.block{
  margin-top: 2rem;
  background-color: #080808;
  padding: 2rem;
  width: 100%;
  line-height: 3rem;
}
.block button{
  margin-top: 2rem;
  line-height: 2rem;
}
.block h2{
margin-bottom: 2rem;
}
.two{
  width: 50%;
  float: left;
}
table{
  border-collapse:collapse;
}
.table-vcenter td{
  vertical-align:"middle";
}
.block .table-vcenter button{
  margin-top: 0.5rem ;
  margin-bottom: 0.5rem ;
}
.block .table-vcenter th{
  padding: 0;
}
.block table img{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* customer end */
/* footer */
footer{
  background-color: hsla(0, 0%, 5%, 0.507);
}
.footer{
  width: 100%;
  height: 100%;
  
}
.footcolor{
  width: 100vw;
  height: 100%;
  /* background-color: hsla(0, 0%, 5%, 0.507); */
  padding-top: 4rem;
}
.subscription{
  width: 100%;
  /* height: 8vh; */
  text-align: center;
  margin-top: 4rem;
  padding-top: 2rem;
  font-size: 2rem;
  /* background-color: hsla(0, 0%, 5%, 0.507); */
}
#subscription{
outline-style: none ;
border-top: 0px;
border-left: 0px;
border-right: 0px;
  /* border-bottom: 1px solid #FFF; */
  padding: 5px 0px;
  width: 30%;
  font-size: 2rem;
  background-color: transparent;
}
.subscription button{
background-color: transparent;
cursor: pointer;
padding: 0.5rem;
/* border: 1px solid #FFF; */
color: inherit;
font-size: 1rem;


}
.ft-item{
float: left;
  width: 33%;
}
.ft-item p{
margin-right: 1rem;
margin-left: 1rem;
}
.ft-center{
  width: 80%;
  margin: auto;
  text-align: center;
}
.ft-logo{
  
  width: 33%;
  height: 100%;
  float: left;
}
.ft-logo img{
  display: block;
margin: auto;
padding-bottom: 1rem;
}

.fb,.ig,.tw{
  display: inline-block;
}
.design{
  width: 100%;
  height: 2rem;
  background-color: var(--highlight2);
margin-top: 2rem;
}
.copyright{
  width: 50%;
  font-size: 0.5rem;
  line-height: 2rem;
  float: left;
}
.design-center{
  width: 80%;
  margin: auto;
}
.designby{
  text-align: right;
  font-size: 0.5rem;
  line-height: 2rem;
}
/* footer end */
@media screen and (max-width:1023px){
  html{
      font-size: 14px;
  }
  .subscription{
          font-size: 1.5rem;
      }
  .copyright{
    width: 65%;
}
/* .left {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  float: none;
  height: 45%;
}
.slider {
  width: 100%;
  float: none;
  height: 55%;
} */
.design{
  height: auto;
}
.one-news {
  width: 46%;
  float: left;
  margin: 1rem;
}
.product-outer {
  width: 48%;
}
.two{
  width: 100%;
  float: none;
}
}
@media screen and (max-width:768px){
  .newscontent{
    width: 100%;
  }
  .menu-dwon{
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    display: block;
    height: 100%;
  }
  .filter {
    width: 100%;
    float: none;
    margin: auto;
    display: none;
    background-color: black;
  }
  .filter li{
    padding-top: 0.5rem;

  }
  .filter li a{
    display: block;
    width: 100%;
    height: 100%;
  }
  .filter li a:hover{
    color: hsl(345, 100%, 25%);
  }
  .filter li a:active{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #800020;
    color: #fff;
  }
  .filter ul{
    padding-bottom: 0.5rem;
  }
  .bar-small{
    width: 100% !important;
  }
  .list-big{
    width: 100% !important;

  }
  .one-news {
    width: 100%;
    float: none;
    margin: 1rem;
    
  }
  .copyright{
    width: 100%;
    text-align: center;
}
.designby {
text-align: center;
}
.filter-right{
  margin-top: 1rem;
  width: 100%;
  float: none;
}
.sidebar-right{
  display: table;
}
.sidebar-right li{
  display: table-cell;
  vertical-align: top;
  width: 30%;
}
.sidebar-right li img{
  height: 150px;
}
.news-outer {
  width: 100%;
  float: none;
}
.news-image img {
  width: 100%;
}
.product_category {
  width: 70%;
  height: 100%;
  margin-top: 24rem;
}

.productlist {
  width: 100%;
  float: none;
  margin: auto;
}
.product-outer {
  width: 50%;
  margin: auto;
  float: left;
  margin-top: 2rem;
}
.product-left {
  width: 100%;
  float: none;
}
.centerbox {
  width: 70%;
}
/* .ft-item i{
  display: block;
} */
.ft-item{
 width: 50%;
 display: table-cell;
 vertical-align: top;
 float: none;
 
}
.group{
  display: table;
  width: 100%;
  height: 129px;
}
.ft-logo{
  width: 100%;
  float: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: 0;
  padding-bottom: 0;
}
.block{
  width: 100%;
}

}
@media screen and (max-width:459px){
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.3rem;
  }
  .select {
    width: 75%;
  }
  .centerbox{
    padding: 1rem;
  }
  .intro{
    height: 100vh;
  }
  .toolbar {
    display: none;
  }
  .toolbar-center{
    width: 100%;
    height: 85px;
    display: table;
    
  }
  .web-logo{
    display: table-cell;
    vertical-align: middle;
  }
  .icontool{
    width:220px;
    padding-top: 0rem;
    display: table-cell;
    vertical-align: middle;
    padding-right: 25px;
    }
  .bar {
    position: absolute;
    background-color: hsl(345, 100%, 25%);
    padding-top: 0rem;
    padding-left:25px ;
    z-index: 999;
}
  .product_category {
    width: 90%;
    height: 100%;
    margin-top: 24rem;
  }
  .centerbox {
    width: 95%;
}
.product-left .box {
  padding: 1rem;
  width: 100%;

}
.product-left{
  width: 100%;
  display: block;
  text-align: center;
}

.product-right{
  width: 100%;
  display: block;
}
.design-center{
  width: 90%;
}
.product-outer {
  width: 100%;
  float: none;
}
.product-img{
margin: auto;
}
.product{
  text-align: center;
}
.menu-wrap {
position: absolute;
top:0px;
left: 0;
  display: none;
  /* filter: drop-shadow(2px 0px 5px #333); */
}
.menu-outer {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  -webkit-clip-path:none;
  clip-path: none;
  position: relative;
  

}
.menu{
  width:90vw;
  height:90vh;
  background-color:transparent;
  -webkit-clip-path:none;
  clip-path:none;
  left:5vw;
  top:105px;
  }
  .menu-inner{
  width:89vw;
  /* height:89vh; */
  height: auto;
  background-color: #000;
  -webkit-clip-path:none;
  clip-path:none;
  position: absolute;
  left:0.5vw;
  top:0.5vh;
  }
  /* .draw-border{
    transition: none;
    z-index: -1;
  } */
  #logo1{
    display: inline-block;
  }
  #logo2{
    display: none;
  }
#title-center{
  height: 26rem;
}
.ft-item{
  width: 100%;
  float: none;
  display: block;
}
.group{
  display: block;
  width: 100%;
  height:auto;
}
.group:nth-child(2){
display: table;
}
.ft-logo{
  padding-top: 1rem;
  display: table-cell;
  vertical-align: middle;
}
.basket{
  overflow-x: scroll;
}
.basket table td, th {
  padding: 0.5rem;
  margin: 0rem;
}
.text-right{
  margin-top: 0;
}
.block{
  line-height: 1rem;
}
.two label{
  margin-top: 1rem;
}
.form-group{
margin-bottom: 0;
}
.sidebar-right li{
  display: block;
  width: 100%;
}
.sidebar-right li img{
  height: 150px;
}
.one-news{
  margin: 0;
}
/* .test button{
  transform-style: preserve-3d;
  position: relative;
  z-index: -1;
} */
.product-outer button{
  position: static;
}
.product-content,.product-img{
  width: 100%;
  float: none;
}
.product-img{
  text-align: center;
}
}

@media screen and (max-width:350px){
/* .intro{
  height: 110vh;
}
.left{
  height: 70%;
}
.slider{
  height:30%;
} */
}