/* 可以共用 */
*{
    margin: 0px;
    box-sizing: border-box;
}
.clear-both{
    clear: both;
}
html{
    height: 100%;
    font-size: 16px;
}
body{
    background-color: #0c0c0c;
    background-image: url("../images/buried.png");
    font-family: 'Noto Serif TC', serif;
    color: #FFF;
}
/* 共用結束 */
/* index banner */
header{
    /* width: auto; */
    height:100vh;
    /* background-attachment: fixed; */
    background-size: cover;
    background-image: url("../images/3.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

}
header img{
    width: auto;
    height: 105vh;
    left: 50%;
    margin-left: -174px;
    position: absolute;
    clear: both;
}
/* index banner END */
/* menu */
.menubox{
    width: 35px;
    height: 35px;
    position: fixed;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
.menu1, .menu2, .menu3 {
    width: 35px;
    height: 5px;
    background-color:#FFF;
    margin-bottom: 6px;
    float: right;
    transition: 0.4s;
  }
/* Rotate first bar */
.change .menu1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
.change .menu2 {
opacity: 0;
}

/* Rotate last bar */
.change .menu3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}
/* menu END */
/* NEWS */
/* .ns-titleimg{
    margin:50px auto 0px auto;
    display: block;

} */
.ns-title{
    width: 500px;
    margin:30px auto;
    /* text-align: justify; */
}
/* .ns-title span{
    font-size: 2.25rem;
} */
/* .ns-title::after{
    display:inline-block;
    content: '';
    padding-left: 99%;
} */
.ns-content{
    width: 80%;
    margin: auto;
    position: relative;
}
.news-item{
    width: 50%;
    float: left;
    padding: 1rem;
}
.newstext{
    width: 50%;
    padding: 2rem;
    float: left;
    position: absolute;
    font-size: 1.5rem;
}
.newstitle{
    font-size: 2.25rem;
}
dt{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
dd{
    margin-bottom: 1rem;
}
.learnmore{
    text-align: center;
    font-size: 1.4rem;
}
.newsbtn{
    border: 1px solid #FFF;
}
/* NEWS END */
/*product*/